.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 30%;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

input {
  width: 100%;
  height: 24px;
}

.button {
  width: 50px;
}

.hidden {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 3px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #ddd;
}
